@import "tailwindcss";

@plugin '@headlessui/tailwindcss' {
  prefix: "ui";
}

/*noinspection CssUnresolvedCustomProperty*/
@theme {
  --font-primary: var(--font-roboto);
  --font-secondary: var(--font-fjalla);

  --color-primary: oklch(0.6667 0.1473 237.8);
  --color-secondary: oklch(0.577 0.2339 27.95);
  --color-primary-light: oklch(0.9137 0.0555 225.72);
  --color-primary-mid: oklch(0.8159 0.0913 227.4);
  --color-primary-superlight: oklch(0.9261 0.0475 225.51);
  --color-primary-dark: oklch(0.6667 0.1473 237.8);
  --color-secondary-dark: oklch(0.5771 0.2337 27.61);
  --color-secondary-mid: oklch(0.7311 0.1359 17.02);
  --color-content: oklch(0 0 0);
}

@layer utilities {
  @keyframes shake {
    0%,
    90%,
    100% {
      transform: rotate(0);
    }
    91% {
      transform: rotate(3deg);
    }
    93% {
      transform: rotate(-3deg);
    }
    95% {
      transform: rotateX(3deg);
    }
    97% {
      transform: rotate(-3deg);
    }
    99% {
      transform: rotate(0);
    }
  }

  .animate-shake {
    animation: shake 4s ease-out infinite;
  }
}

@layer base {
  html {
    @apply scroll-smooth font-primary max-w-screen overflow-x-hidden text-base;
  }

  body {
    @apply mx-auto min-h-screen w-full max-w-full overflow-x-hidden;
  }

  *:focus {
    outline: none;
  }

  img {
    @apply m-0 p-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 p-0 font-secondary;
  }

  h1 {
    @apply text-3xl md:text-5xl xl:text-6xl;
  }

  h2 {
    @apply text-xl md:text-3xl xl:text-4xl;
  }

  p {
    @apply my-4;
  }
}

@layer components {
  .main-container {
    @apply flex flex-col max-w-none;
  }

  .page-container {
    @apply mx-auto w-full xl:max-w-[1920px] px-0 lg:px-8;
  }

  .section {
    @apply flex flex-col mx-auto w-full max-w-[1200px] px-4;
  }

  .transparent-stripes {
    background-image: repeating-linear-gradient(
      -45deg /* Diagonal direction */,
      rgba(255, 255, 255, 0.3) 0px /* Stripe color with transparency */,
      rgba(255, 255, 255, 0.3) 15px /* End of one stripe */,
      transparent 15px /* Start of space between stripes */,
      transparent 30px /* End of space between stripes */
    );
  }

  .primary-stripes {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-primary-light),
      var(--color-primary-light) 15px,
      var(--color-primary-superlight) 15px,
      var(--color-primary-superlight) 30px
    );
  }

  .primary-stripes-dark {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-primary-dark),
      var(--color-primary-dark) 8px,
      var(--color-primary-mid) 8px,
      var(--color-primary-mid) 16px
    );
  }

  .secondary-stripes-dark {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-secondary-dark),
      var(--color-secondary-dark) 8px,
      var(--color-secondary-mid) 8px,
      var(--color-secondary-mid) 16px
    );
  }

  .secondary-stripes-transparent {
    background: repeating-linear-gradient(
      -45deg,
      var(--color-secondary-dark),
      var(--color-secondary-dark) 8px,
      transparent 8px,
      transparent 16px
    );
  }

  .primary {
    @apply bg-primary text-white;
  }

  .secondary {
    @apply bg-secondary text-white;
  }

  .card {
    @apply flex flex-col items-start xl:items-center justify-start h-full p-8  font-primary;
    @apply [clip-path:polygon(0_0,100%_0,100%_90%,80%_100%,0_100%)];

    .card-body {
      @apply text-base flex flex-col grow shrink mt-8;

      & p {
        @apply mb-4;
      }
    }

    .card-title {
      @apply text-2xl text-secondary uppercase font-secondary mb-4;
    }

    .card-icon {
      @apply my-4 xl:my-8 h-18 xl:h-36 flex items-center justify-center;
    }

    .card-footer {
      @apply flex flex-col mt-auto min-h-[50px] gap-2;

      a {
        @apply text-primary hover:underline;
      }
    }

    .card-footer-item {
      @apply flex justify-start items-start gap-2;
    }

    &.light {
      @apply bg-white text-content;
    }

    &.alert {
      @apply bg-secondary text-white;

      .card-title {
        @apply text-white;
      }
    }

    &.dark {
      @apply bg-content/80   text-white;
      @apply relative m-[4px] [clip-path:polygon(0_0,100%_0,100%_90%,85%_100%,0_100%)];

      .card-icon {
        @apply h-16 my-4 items-start justify-start w-full;
      }

      .card-body {
        .card-title {
          @apply text-white;
        }
      }
    }
  }

  .accordion {
    @apply flex flex-col xl:flex-row w-full bg-white items-start xl:items-stretch justify-start font-primary py-4;

    a {
      @apply text-primary hover:underline font-semibold;
    }

    & .accordion-icon {
      @apply flex items-start xl:items-center justify-start xl:justify-center w-[200px] p-4;
    }

    & .accordion-close-button {
      @apply absolute top-0 right-0 transition duration-200 ease-out  w-0 h-0 ui-not-open:border-t-[50px] ui-not-open:border-l-[50px] ui-open:border-t-[80px] ui-open:border-l-[80px] border-t-primary border-l-transparent;
    }

    & .accordion-close-icon {
      @apply absolute top-0 right-0 flex items-center justify-center ui-not-open:w-8 ui-not-open:h-8 ui-open:w-12 ui-open:h-12 text-white z-1;
    }

    & .accordion-title {
      @apply cursor-pointer font-secondary text-secondary uppercase text-2xl w-full text-left;
    }

    & .accordion-body {
      @apply pt-4 pr-4 transition duration-200 ease-out data-closed:-translate-y-6 data-closed:opacity-0 text-base w-full;

      ul {
        @apply list-disc list-inside;
      }
    }
  }
}
